<div class="row">
    <div class="col ml-auto">
      <button
        class="float-right btn btn-primary" (click)="onCatNewButtonClick()">
        New
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">CategoryName</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Cdac</td>
            <td>  
                <div class="col">
                  <button class="btn btn-primary" (click)="onCEditClick()">Edit</button>
                  
                </div> </td>
                </tr>

                <tr>
                    

               
        </tbody>
      </table>
    </div>
  </div>
  
  